#tv {
    width: 700px;
    margin: auto;
}

#channelButtons {
    width: 370px;
    margin: 50px auto 30px auto;
}

button {
    width: 70px;
    height: 21px;
}

#targetcanvas {
/*    border: 2px dashed;
    /* useful for debugging*/
    position: relative;
    left: 65px;
    top: -435px;
    outline: none;
}
